        #editor { 
            position: relative;
            top: 5px;
            right: 0;
            bottom: 0;
            left: 0;
           height: 500px;
        }
        #editorGenDesign { 
            position: relative;
            top: 5px;
            right: 0;
            bottom: 0;
            left: 0;
           height: 500px;
        }
        /*Disable scrolling when on editor*/
        body.editor-active {
            overflow: hidden;
           }
        /*Application Trace Legend */
          #span-outer {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 8px;
            background-color: #000;
          }
              #inner-1 {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 1px;
            background-color: white;
          }
            #inner-2 {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 1px;
            background-color: black;
          }
          #legend-outer{
              display: inline-block;
            width: 270px;
            height: 40px;
            margin: 6px;
            background-color: #000;
          }
            #legend-inner{
              display: inline-block;
            width: 268px;
            height: 38px;
            margin: 1px;
            background-color: white;
          }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th,td {
            text-align: center;
        }
        
        /* Prevents appearing and disappearing of the scrollbar from
            changing the page width */
        html {
            margin-left: calc(100vw - 100%);
            margin-right: 0;
        }

        /* Style buttons */
        .btn-dl {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 4px 15px;
            cursor: pointer;
            font-size: 15px;
        }

        /* Darker background on mouse-over */
        .btn-dl:hover {
            background-color: RoyalBlue;
        }
    
        /* Offset anchor */
        a.anchor {
            display: block;
            position: relative;
            top: -80px;
            visibility: hidden;
        } 
