<!DOCTYPE HTML>
<html>
<head>
    <title>EXTRA UvA DEMO</title>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- BOOTSTRAP Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- BOOTSTRAP JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/extrademo.css') }}">
    <script src="{{ url_for('static', filename='./socketio_js/extrademo_socketio.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='./ace-builds/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function(){init_socketio();});
    </script>
</head>
<body>
    <br>
    <h1 align="center">EXTRA UvA Demo</h1>
    <div class="container">
      <h2>Select Project</h2>
      <div class="card">
        <div class="card-body">
        <form id='select_project' method='POST' action='#' style="display: inline ;">
            <select id="project_list"><select>
            <input type="SUBMIT" class="btn btn-primary"  value="Load">
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              Create New Project
          </button>
        <!-- Create Project Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Project Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input id="create_project_name_input" type="text" placeholder="ProjectName">
                  </div>
                  <div class="modal-footer">
                    <form id='create_project' method='POST' action='#'>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create">
                  </div>
                </div>
              </div>
            </div>  
        <!-- END Create Project Modal -->

        </div>
      </div>
    </div>

    <div id="source_code" class="project_data"></div>
    <div id="analysis_output"  class="project_data"></div>
    <div id="performance_prediction_output" class="project_data"></div>
    <br>
    <br>
    <h2 class='container'>Debug:</h2>
    <div class='container' id="log"></div>
</body>
</html>
